<!DOCTYPE html>
<html>
<head>
	<meta charset="uft-8">
	<meta name="viewprot" content="width=device-width, inital-scale=1, shrinkt-to-fit=no, user-scalable=no">
	<link rel="shortcut icon" type="image/x-icon" href="/static/imgs/icon/favicon.png">

	<!--부트스트랩-->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	 <script src="/static/js/jquery-3.5.1.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	



	 <!--커스텀-->
	 <link rel="stylesheet" type="text/css" href="/static/css/admin.css?2">
	 <link rel="stylesheet" type="text/css" href="/static/css/custom_swal.css">
	 <link rel="stylesheet" type="text/css" href="/static/css/bt_tab_bar.css?3">
	 <link rel="stylesheet" type="text/css" href="/static/css/top_nav_bar.css?3">	


	 <!--폰트 어썸-->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

	 <!--알림창-->
	 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


	<title>학지매-관리자페이지</title>
</head>
<body style="height:100%;">
	
	<!--내비게이션 바-->
		<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky; top:0;">
			<a class="navbar-brand" id="navbar_club_name" href="{% url 'hzm:main_page' %}">{{club.club_name}}</a>
	 	 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	 	 	<div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item dropdown">
			      	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">친선 경기</a>
			      	<div class="dropdown-menu">
			      		 <a class="nav-link" href="{% url 'hzm:match_form' %}">&nbsp;경기 신청 <span class="sr-only">(current)</span></a>
			      		{% if pk %}
			      		<a class="nav-link" href="{% url 'hzm:match_before' %}">&nbsp;경기 신청 현황</a>
			      		{% endif %}
			      		<a class="nav-link" href="{% url 'hzm:match' %}">&nbsp;경기 결과</a>
			      	</div>
				  </li>
				  <li class="nav-item">
			        <a class="nav-link" name="navbar_link" href="{% url 'hzm:freeboard' %}">자유게시판</a>
			      </li>
			      {% if pk %}
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'hzm:schedule' %}">일정관리</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" id="logout_btn">로그아웃</a>
			      </li>
			      {% else %}
			       <li class="nav-item">
			        <a class="nav-link" id="signin_btn" data-toggle="modal" data-target="#login">로그인</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" id="signup_btn" data-toggle="modal" data-target="#login">가입하기</a>
			      </li>
			      {% endif %}
			      
			  	</ul>
			 </div>
		</nav>
	<!--navbar 끝-->
	<!--middle container-->
		<div id="middle-container" class="container-fluid">

			<div id="ClubDescriptionBox">
				<div class="form-floating">
					<label>클럽 설명:</label><button class="btn btn-secondary bg-dark" id="ClubDescriptionBtn" style="float:right">저장</button>
					<textarea class="form-control" placeholder="클럽설명" id="ClubDescription" style="height: 100px">{{club.description}}</textarea>
				</div>
			</div>
			<div id="admin_record_container" class="container-fluid">
				<button style="float :left; margin-left : 1%; " id="record_add_btn" data-toggle="modal" data-target="#modal_record" type="button" class="btn btn-dark">기록 추가</button>

				<div class="input-group mb-3" style="width:25%; float:right;">
					<input type="text" id="keyword_record" class="form-control" placeholder="검색 내용" aria-label="검색 내용" aria-describedby="button-addon2">
					<div class="input-group-append" style="background-color: #343a40; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; min-width:18%; width:18%;">
						<i id="map_search_btn" class="fa fa-search fa-lg fa-fw" style="display:block; width:100%; padding-top:12px; color:white;"></i>
					</div>
				</div>
				<table class="table table-md table-bordered" >
				  <thead id="AdminRecordThead" class="thead-light">
				    <tr>
				      <th id="AdminThRecord" scope="col">record</th>
				      <th scope="col">맵 이름 </th>
				      <th scope="col">라이더 </th>
				      <th scope="col">기록</th>
				      <th scope="col">비고</th>
				    </tr>
				  </thead>
				  <tbody id="record_table_tbody">
				  	{% for record in records %}
				  	<tr id="tr_record_{{record.pk}}" style="text-align: center;">
				  		<td>{{record.pk}}</td>
				  		{% for map in maps %}
				  			{% if map.pk == record.maps_id %}
				  				<td>{{map.map_name}}({{map.pk}})</td>
				  			{% endif %}
				  		{% endfor %}

				  		{% for player in players %}
				  			{% if record.player_id == player.pk %}
				  				<td>{{player.player_name}}({{player.pk}})</td>
				  			{% endif %}
				  		{% endfor %}
						  <td><input style="width:100%; text-align:center" id="td_record_{{record.pk}}" type="text" value="{{record.record}}"></td>
						  <td>
							  <button name="AdminRecordEditBtn" class="btn btn-secondary bg-dark" data-record="{{record.record}}" data-pk="{{record.pk}}">수정</button>
							  <button name="AdminRecordDeleteBtn" class="btn btn-secondary bg-dark" data-pk="{{record.pk}}">삭제</button>
						  </td>
				  		
				  	</tr>
				  	{% endfor %}
				  </tbody>
				</table>				
			</div>
			<div id="admin_accept_player" class="container-fluid">
				<div class="input-group mb-3" style="width:25%; float:right;">
						<input type="text" id="keyword_player" class="form-control" placeholder="검색 내용" aria-label="검색 내용" aria-describedby="button-addon2">
						<div class="input-group-append" style="background-color: #343a40; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; min-width:18%; width:18%;">
							<i id="map_search_btn" class="fa fa-search fa-lg fa-fw" style="display:block; width:100%; padding-top:12px; color:white;"></i>
						</div>
					</div>
					<div class="container-fluid" style="overflow:scroll; padding:0">
						<table class="table table-md table-bordered" >
						  <thead id="AdminAcceptThead" class="thead-light">
						    <tr>
						    	<th scope="col" style=" text-align: center;">#</th>
						    	<th scope="col" style=" text-align: center;">아이디</th>
						    	<th scope="col" style=" text-align: center;">비고</th>
						    </tr>
						  </thead>
						  <tbody id="club_player_table_tbody">
						  </tbody>
						</table>				
					</div>
			</div>
			
			<div class="container-fluid" id="AdminMatchFormContainer">
				<form>
					<div class="container-fluid" id="matchinfo_body">
						<div class="input-group mb-3">
							<span class="input-group-text"> 신청자 </span>
							<input type="text" id="matchinfo_postwriter" class="form-control" placeholder="카러플 캐릭터 이름" aria-label="신청자" aria-describedby="button-addon2" value="" >
						</div>
						  <div class="input-group mb-3">
							  <span class="input-group-text">경기 인원</span>
							  <select id="matchinfo_player_num" class="form-control" value="4" >
								  <option id="matchinfo_player_num_option1" value="2" > 2 vs 2</option>
								  <option id="matchinfo_player_num_option2" value="3" > 3 vs 3</option>
								  <option id="matchinfo_player_num_option3" value="4" selected> 4 vs 4</option>
							  </select>
						  </div>

						  <label for="exampleInputEmail1">RED팀 </label>
						  <div class="input-group mb-3">
							<span class="input-group-text">클럽이름</span>
							<input type="text" id="matchinfo_red_club_name" class="form-control" placeholder="클럽이름" aria-label="클럽이름" aria-describedby="button-addon2" value="{{club.club_name}}" >
						</div>
						<div class="input-group mb-3" id="matchinfo_redteam_member">
							<div class="input-group mb-3">
								<span class="input-group-text">고가평균</span>
								<input type="text" id="matchinfo_red_goga_avg" class="form-control" placeholder="경기시간" aria-label="RED팀 고가평균" aria-describedby="button-addon2" step="2"  required>
							</div>
							
							<input type="text" id="matchinfo_red_p1_name" name="redteam" class="form-control" placeholder="라이더1" aria-label="player_name" aria-describedby="button-addon2" value=""  required>
							<input type="text" id="matchinfo_red_p2_name" name="redteam" class="form-control" placeholder="라이더2" aria-label="player_name" aria-describedby="button-addon2" value=""  required>
							<input type="text" id="matchinfo_red_p3_name" name="redteam" class="form-control" placeholder="라이더3" aria-label="player_name" aria-describedby="button-addon2" value=""  required>
							<input type="text" id="matchinfo_red_p4_name" name="redteam" class="form-control" placeholder="라이더4" aria-label="player_name" aria-describedby="button-addon2" value=""  required>	
							<button type="button" class="btn btn-secondary bg-dark" id="matchinfo_redteam_member_edit_btn" data-toggle="modal" data-target="#modal_redteam_member" data-p1="{{match.red_player_name.0}}" data-p2="{{match.red_player_name.1}}" data-p3="{{match.red_player_name.2}}" data-p4="{{match.red_player_name.3}}" data-player_num="4" >라이더수정</button>
						</div>
						<label for="exampleInputEmail1">BLUE팀</label>
						<div class="input-group mb-3">
							<span class="input-group-text">클럽이름</span>
							<input type="text" id="matchinfo_blue_club_name" class="form-control" placeholder="클럽이름" aria-label="클럽이름" aria-describedby="button-addon2" value="{{match.club_blue_name}}" >
						</div>
						<div class="input-group mb-3">
							<div class="input-group mb-3">
								<span class="input-group-text">고가평균</span>
								<input type="text" id="matchinfo_blue_goga_avg" class="form-control" placeholder="00:00:00" aria-label="시작시간" aria-describedby="button-addon2"  required title="00:00:00">
							</div>
							<input type="text" id="matchinfo_blue_p1_name" class="form-control" placeholder="라이더1" aria-label="player_name" aria-describedby="button-addon2"  required>
							<input type="text" id="matchinfo_blue_p2_name" class="form-control" placeholder="라이더2" aria-label="player_name" aria-describedby="button-addon2"  required>
							
							<input type="text" id="matchinfo_blue_p3_name" class="form-control" placeholder="라이더3" aria-label="player_name" aria-describedby="button-addon2"  required>
						
							
							<input type="text" id="matchinfo_blue_p4_name" class="form-control" placeholder="라이더4" aria-label="player_name" aria-describedby="button-addon2"  required>
						</div>
						<label for="exampleInputEmail1">경기정보</label>
						<div class="input-group mb-3">
							<span class="input-group-text">희망날짜</span>
							<input type="date" id="matchinfo_match_date" class="form-control" placeholder="경기날짜" aria-label="경기날짜" aria-describedby="button-addon2"  required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">시작시간</span>
							<input type="time" id="matchinfo_time_start" class="form-control" placeholder="경기시간" aria-label="시작시간" aria-describedby="button-addon2"   required>
							<span class="input-group-text">종료시간</span readonly>
							<input type="time" id="matchinfo_time_end" class="form-control" placeholder="경기시간" aria-label="종료시간" aria-describedby="button-addon2" required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">RED WIN</span>
							<input type="number" id="matchinfo_red_win" class="form-control" placeholder="RED팀 승리" aria-label="WIN" aria-describedby="button-addon2"  required>
							<span class="input-group-text">Blue WIN</span readonly>
							<input type="number" id="matchinfo_blue_win" class="form-control" placeholder="BLUE팀 승리" aria-label="WIN" aria-describedby="button-addon2" required>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">비밀번호</span>
							<input type="text" id="matchinfo_passwd" class="form-control" placeholder="비밀번호 입력 후 수정 버튼 클릭" aria-label="비밀번호" aria-describedby="button-addon2" value="">
						</div>
					</div><!-- matchinfo body끝-->
					<div class="container-fluid" id="matchinfo_footer" style="">
						<button class="btn bg-dark btn-secondary"><a href="{% url 'hzm:match' %}" style="color:white; text-decoration: none;" >뒤로가기</a></button>
						<button type="button" id="matchinfo_save_btn" class="btn btn-secondary bg-dark">저장</button>
					</div>
				</form>
			</div><!--AdminMatchForm 끝-->

		</div><!--middle container 끝-->


<!--하단 탭바-->
		<nav id="bottom_tapbar" class="navbar fixed-bottom navbar-light bg-light" style="position:sticky; bottom:0; height:10%; max-height:10%; margin-top:1rem; padding:0;">
			<div class="container-fluid" style="padding:0;">
				<ins class="kakao_ad_area" style="display:none;" data-ad-unit    = "DAN-VgaPZkxM9B2j0lxu"  data-ad-width   = "320" data-ad-height  = "100"></ins> 
				<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-3" id="bottom_home" style="display:block; text-align: center;">
						<a style="color: black; text-decoration:none" href="{% url 'hzm:main_page' %}" >
							<span>
								<i class="fa fa-home" id="bottom_home_btn" style="color:gray;"></i>
							<span>
							<h2>홈</h2>
						</a>
					</div>
					<div class="col-3" id="bottom_club" style="display:block; text-align: center;">
						<a style="color: black; text-decoration:none" href="{% url 'hzm:club' club.pk %}" >
							<span>
								<i class="fas fa-flag-checkered" id="bottom_club_btn" style="color:gray;" ></i>
							<span>
								<h2>클럽</h2>
						</a>
					</div>
					<div class="col-3" id="bottom_record">
						<a href="{% url 'hzm:personal_record' %}" >
							<span>
								<i class="fas fa-clipboard" id="bottom_club_btn" style="color:gray;" ></i>
							<span>
								<h2>개인기록</h2>
						</a>
					</div>
					<div class="col-3" id="bottom_user" style="display:block; text-align: center;">
						<a style="color: black; text-decoration:none" href="{% url 'hzm:mypage' %}" >
							<span >
								<i class="fa fa-user" id="bottom_user_btn" style="color:gray;" ></i>
							</span>
							<h2>마이룸</h2>
						</a>
					</div>
				</div>
			</div>
		</nav>
		<!--하단 탭바 끝-->
	
<!--라이더변경 모달-->
<div class="modal fade" id="modal_redteam_member" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">RED팀 라이더 변경</h5>
		  <button type="button" name="modal_redteam_close_btn" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body" style="height:30vh;">
		  <div class="container-fluid" style="padding:0; height:100%;" >
			  <div style="border : solid gray 1px; float:left; width:45%; height :100%; display:inline-block; overflow: auto;">
				  <div class="container" style="text-align: center; padding-top:3%;"><h6>참가 라이더</h6></div>
				  <table class="table table-bordered table-hover" id="modal_floor_edit_camera_list_left" style="border : none;">
					  <thead class="thead-light" >
						  <tr >
							  <td style="text-align:center; background-color: #e9ecef; position:sticky; top:0; font-size:0.8rem" class="td-sm"></td>
							  <td style="text-align:center; background-color: #e9ecef; position:sticky; top:0; font-size:0.8rem" class="td-sm">라이더 닉네임</td>
						  </tr>
					  </thead>
					  <tbody name="modal_tbody_redteam_player">
						  
					  </tbody>
				  </table>
			  </div>
			  <div style="min-width:1%;  max-width: 10%; width: 10%; height:100%; display: inline-block;">        		
				  <i id="modal_floor_arrow_right_btn" class="far fa-arrow-alt-circle-right" onclick='move_modal_floor_unused_used(1)' style="display: block; float: left; position:absolute; top:55%; left:49%;"></i>
				  <i id="modal_floor_arrow_left_btn" class="far fa-arrow-alt-circle-left" onclick='move_modal_floor_used_unused(1)' style="display: block; float:left; position:absolute; top:65%; left:49%;" ></i>
			  </div>
			  <div style="border : solid gray 1px; float:right; width:45%; height :100%; display:inline-block; overflow: scroll;">
				  <div class="container" style="text-align: center; padding-top:3%;"><h6>후보 라이더</h6></div>
				  <table class="table table-bordered table-hover" id="modal_floor_edit_camera_list_right" style="border : none;">
					  <thead class="thead-light" >
						  <tr>
							  <td style="text-align:center; background-color: #e9ecef; position:sticky; top:0; font-size:0.8rem;"></td>
							  <td style="text-align:center; background-color: #e9ecef; position:sticky; top:0; font-size:0.8rem;" class="td-sm">라이더 닉네임</td>
						  </tr>
					  </thead>
					  <tbody name="modal_tbody_redteam_subplayer">
					  </tbody>
				  </table>
			  </div>
		  </div><!--table container 끝-->
		</div><!--modal body 끝-->
		<div class="modal-footer">
		  <button type="button"  name="modal_redteam_close_btn" class="btn btn-secondary bg-dark" data-dismiss="modal">닫기</button>
		  <button type="button" id="modal_redteam_save_btn" class="btn btn-secondary bg-dark">저장</button>
		</div>
	  </div>
	</div>
  </div>

<!--기록 추가 모달-->
<div class="modal fade" id="modal_record" tabindex="-1" aria-labelledby="modal_record_title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			 <div class="modal-header">
			 	<h5 class="modal-title" id="modal_record_title">기록 추가 </h5>
			 	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			 		<span aria-hidden="true">&times;</span>
			 	</button>
			 </div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<span class="input-group-text">라이더이름</span>
					<select id="modal_record_player_name" class="form-control">
						{% for player in players %}
						<option value="{{player.pk}}">{{player.player_name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">맵 이름</span>
					<select id="modal_record_map_name" class="form-control">
						{% for map in maps %}
						<option value="{{map.pk}}">{{map.map_name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">기록 </span>
					<input type="text" id="modal_record_time" class="form-control" placeholder="00:00:00 으로 입력해주세요" aria-label="맵 기록" aria-describedby="button-addon2" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">기록 경신일</span>
					<input type="text" id="modal_record_date" class="form-control" placeholder="입력 형식 2020-01-01" aria-label="맵 기록" aria-describedby="button-addon2" value="2020-01-01" disabled>
				</div>
			</div><!--modal body end-->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary bg-dark" data-dismiss="modal">닫기</button>
				<button type="button" id="modal_record_add_btn" class="btn btn-secondary bg-dark">기록추가</button>
			</div>
		</div>
  	</div>
 </div>

<!-- script start -->
	<script>
		
		function getTime() {
			var Now = new Date();
			var NowTime = Now.getFullYear();
			
			NowTime += '-' + String(Number(Now.getMonth()) +1) ;
			NowTime += '-' + Now.getDate();
			NowTime += ' ' + Now.getHours();
			NowTime += ':' + Now.getMinutes();
			NowTime += ':' + Now.getSeconds();
			return NowTime;
		}

				//경기신청모달 고가 평균 폼 확인
		function goga_form_check(data){
			data_=data.split(':')

			if(data.length != 8)
				return false;
			else if(data[2] != ':')
				return false;
			else if(data[5] != ':')
				return false;
			else if(isNaN(data_[0]))
				return false;
			else if(isNaN(data_[1]))
				return false;
			else if(isNaN(data_[2]))
				return false;

			return true;
		}
		//경기신청모달 경기 날짜 폼 체크
		function match_date_form_check(match_date) {
			if(match_date.length != 10) 
				return false;
			else if(match_date[4] != '-')
				return false;
			else if(match_date[7] != '-')
				return false;
			
			match_date_=match_date.split('-')

			if(isNaN(match_date_[0]))
				return false;
			else if(isNaN(match_date_[1]))
				return false;
			else if(isNaN(match_date_[2]))
				return false;

			return true;
		}
		//경기신청 모달 시간 체크
		function time_form_check(time){
			if(time.length != 5)
				return false;
			else if(time[2] != ':')
				return false;

			time_=time.split(':')
			if(isNaN(time_[0]))
				return false;
			else if (isNaN(time_[1]))
				return false;
			return true;
		}



		//로그아웃 버튼 클릭
		$(document).on('click','#logout_btn', function(e) {
			$.ajax({
				url:"{% url 'hzm:ajax_logout' %}",
				type:'GET',
				success:function(data) {
					swal("바이바이~");
					location.reload();
				},
				error : function(error) {
					swal("실패");
				}
			})
		});

		//개인 기록 테이블
		function create_record_table(data,num) {
			var rank;
			var best_record;
			var maps_id=data.maps_id;
			$.ajax({
				url : "{% url 'hzm:ajax_get_record_rank' %}",
				type:'GET',
				dataType:'json',
				async:false,
				data:{
				
					'maps_id':maps_id,
				},
				success:function(data){
					rank=data.rank;
					best_record=data.best_record;
				},
				error:function(error){
				},
			})
			$('#record_table_tbody').append('<tr>\
				<td style="text-align:center;">'+num+'</td>\
				<td style="text-align:center;">'+data.map_name+'</td>\
				<td style="text-align:center;">'+data.record+'</td>\
				<td style="text-align:center;">'+best_record+'</td>\
				<td style="text-align:center;">'+rank+'</td>\
				</tr>');
		}


		function modal_record_init(){
			$('#modal_record_time').val('');
		}

			 	/*검색기능*/
		$(document).ready(function(){
			$("#keyword_record").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#record_table_tbody tr").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});

		$(document).ready(function(){
			$("#keyword_player").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#club_player_table_tbody tr").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});


				//기록추가 모달에서 추가 버튼 클릭 시 
		$(document).on('click','#modal_record_add_btn',function(e) {
			var player_pk=$('#modal_record_player_name').val();
			var map_record=$('#modal_record_time').val();
			var maps_id=$('#modal_record_map_name option:selected').val();
			var record_date=$('#modal_record_date').val();

			console.log(player_pk);
			console.log(maps_id);
			console.log(map_record);
			if(goga_form_check(map_record) == false)
				return swal("기록 입력 양식 00:00:00")
			if(match_date_form_check(record_date) == false)
				return swal("날짜 입력 양식 ex) 2020-01-01");

			$.ajax({
				url:"{% url 'hzm:ajax_add_admin_record' %}",
				type:'POST',
				data: {
					'csrfmiddlewaretoken':"{{csrf_token}}",
					'record':map_record,
					'maps_id':maps_id,
					'record_date':record_date,
					'player_id':player_pk,
				},
				success: function(data) {
					location.reload();
				},
				error : function(error) {

				},
			})
		});

		function create_player_before_auth_table(data,num){
			$('#club_player_table_tbody').append('<tr id="tr_'+data.player_name+'">\
				<td style="text-align:center;">'+num+'</td>\
				<td style="text-align:center;" >'+data.player_name+'</td>\
				<td style="text-align:center;" ><button class="btn bg-dark btn-secondary" style="margin-right:10%;" name="club_player_table_tbody_tr_accept" data-player_name="'+data.player_name+'">수락</button><button class="btn bg-dark btn-secondary" data-player_name="'+data.player_name+'" name="club_player_table_tbody_tr_reject" >거절</button></td>\
				</tr>')
		}

		$(document).ready(function(e){
			$.ajax({
				url: "{% url 'hzm:ajax_get_player_before_auth' %}",
				type:'POST',
				dataType:'JSON',
				data : {
					'csrfmiddlewaretoken' : "{{csrf_token}}"
				},
				success: function(data){
					for(var i=0; i < data.length;i++)
					create_player_before_auth_table(data[i],i+1);
				},
				error : function(e) {

				},
			})
		});

		//클럽원 수락 버튼
		$(document).on('click','button[name=club_player_table_tbody_tr_td]',function(e) {
			
			var player_name=$(this).attr('data-player_name');
			$.ajax({
				url: "{% url 'hzm:ajax_accept_player' %}",
				type:'GET',
				data: {
					'player_name' : player_name,
				},
				success : function(data) {
					$('#tr_'+data).remove();
	
				},
				error: function(error) {
					swal("수락 실패");
				},
			});
		});

		//클럽원 신청 수락
		$(document).on('click','button[name=club_player_table_tbody_tr_accept]',function(e) {
			var player_name=$(this).attr('data-player_name');
			console.log(player_name)
			$.ajax({
				url: "{% url 'hzm:ajax_accept_player' %}",
				type:'GET',
				data: {
					'player_name' : player_name,
				},
				success : function(data) {
					console.log(data)
					$('#tr_'+data).remove();
	
				},
				error: function(error) {
				},
			});
		});

		//클럽원 신청 거절
		$(document).on('click','button[name=club_player_table_tbody_tr_reject]',function(e) {
			var player_name=$(this).attr('data-player_name');
			console.log(player_name)
			$.ajax({
				url: "{% url 'hzm:ajax_reject_player' %}",
				type:'GET',
				data: {
					'player_name' : player_name,
				},
				success : function(data) {
					console.log(data)
					$('#tr_'+data).remove();
	
				},
				error: function(error) {
				},
			});
		});
		//클럽소개 저장버튼
		$(document).on('click','#ClubDescriptionBtn',function(){
			var description=$('#ClubDescription').val();
			console.log(description)

			$.ajax({
				url:"{% url 'hzm:ajax_save_club_description' %}",
				type:'POST',
				data : {
					'csrfmiddlewaretoken':"{{csrf_token}}",
					'description':description,
				},
				success: function(data){
					swal("저장성공")
				},
				error: function(error) {
					swal("저장실패")
				}
			})
		});

		//경기 정보 저장 버튼
		$(document).on('click','#matchinfo_save_btn',function(e) {
			var player_num=$('#matchinfo_player_num').val();
			var post_writer=$('#matchinfo_postwriter').val()
			var passwd=$('#matchinfo_passwd').val()

			var red_club_name=$('#matchinfo_red_club_name').val();
			var red_club_id="{{club.pk}}";
			var red_p1=$('#matchinfo_red_p1_name').val();
			var red_p2=$('#matchinfo_red_p2_name').val();
			if(player_num>=3) var red_p3=$('#matchinfo_red_p3_name').val();
			if(player_num>=4) var red_p4=$('#matchinfo_red_p4_name').val();
			
			var blue_club_name=$('#matchinfo_blue_club_name').val();
			var blue_p1=$('#matchinfo_blue_p1_name').val();
			var blue_p2=$('#matchinfo_blue_p2_name').val();
			if(player_num>=3) var blue_p3=$('#matchinfo_blue_p3_name').val();
			if(player_num>=4) var blue_p4=$('#matchinfo_blue_p4_name').val();
			
			var match_date=$('#matchinfo_match_date').val();
			var time_start=$('#matchinfo_time_start').val();
			var time_end=$('#matchinfo_time_end').val();
			var red_goga_avg=$('#matchinfo_red_goga_avg').val();
			var blue_goga_avg=$('#matchinfo_blue_goga_avg').val();
			var match_pk="{{match.pk}}";

			var red_win =$('#matchinfo_red_win').val();
			var blue_win =$('#matchinfo_blue_win').val();
			var date = getTime();

			var team="all"

			if( team=="red" || team=="all") {
				if($.trim(red_club_name) == '')return swal("RED팀 클럽명을 입력해주세요")
				if(goga_form_check(red_goga_avg)==false )return swal("RED팀 고가 양식 00:00:00");
				else if($.trim(red_p1) == '') return swal("RED 라이더1 을 입력해주세요.");
				else if($.trim(red_p2) == '') return swal("RED 라이더2 을 입력해주세요.");
				if(player_num >=3 && $.trim(red_p3) == '') return swal("RED 라이더3 을 입력해주세요.");
				if(player_num >=4 && $.trim(red_p4) == '') return swal("RED 라이더4 을 입력해주세요.");
			}
		
			 
			if( team=="blue" || team=="all") {
				if($.trim(blue_club_name) == '')return swal("BLUE팀 클럽명을 입력해주세요");
				if(goga_form_check(blue_goga_avg)==false )return swal("BLUE팀 고가 양식 00:00:00");
				else if($.trim(blue_p1) == '') return swal("BLUE 라이더1 을 입력해주세요.");
				else if($.trim(blue_p2) == '') return swal("BLUE 라이더2 을 입력해주세요.");
				if(player_num >=3 && $.trim(blue_p3) == '') return swal("BLUE 라이더3 을 입력해주세요.");
				if(player_num >=4 && $.trim(blue_p4) == '') return swal("BLUE 라이더4 을 입력해주세요.");
			}

			if(match_date_form_check(match_date) == false) return swal("날짜 입력 양식 ex)2020-01-01");
			if(!(time_start)) return swal("시작 시간을 입력해 주세요");
			else if(!(time_end)) return swal("종료 시간을 입력해 주세요");
			else if(time_form_check(time_start) == false || time_form_check(time_end)==false) return swal("시간 입력 양식 ex)00:00 ")
			else if(time_start > time_end) return swal("시작시간이 종료시간보다 늦습니다!");
			else if($.trim(red_win) == '') return swal("RED팀 승리횟수 입력");
			else if($.trim(blue_win) == '') return swal("BLUE팀 승리횟수 입력")
			
				

			$.ajax({
				url : "{% url 'hzm:ajax_admin_save_match_info' %}",
				type : 'POST',
				data:{
					'csrfmiddlewaretoken' : "{{csrf_token}}",
					'match_pk' : match_pk,
					'red_p1_name' : red_p1,
					'red_p2_name' : red_p2,
					'red_p3_name' : red_p3,
					'red_p4_name' : red_p4,
					'blue_p1_name' : blue_p1,
					'blue_p2_name' : blue_p2,
					'blue_p3_name' : blue_p3,
					'blue_p4_name' : blue_p4,
					'match_date' : match_date,
					'time_start':time_start,
					'time_end':time_end,
					'red_goga_avg':red_goga_avg,
					'blue_goga_avg' :blue_goga_avg,
					'player_num':player_num,
					'red_win':red_win,
					'blue_win':blue_win,
					'red_club_id':red_club_id,
					'red_club_name':red_club_name,
					'blue_club_name':blue_club_name,
					'passwd':passwd,
					'post_writer':post_writer,
					'date':date,
				},
				success : function(msg){
					if(msg=="fail") return swal("저장실패");
					else return swal("저장완료","success").then((value)=>{ 
						$('#matchinfo_player_num').val('');
						$('#matchinfo_postwriter').val('');
						$('#matchinfo_passwd').val('');
						$('#matchinfo_red_p1_name').val('');
						$('#matchinfo_red_p2_name').val('');
						$('#matchinfo_red_p3_name').val('');
						$('#matchinfo_red_p4_name').val('');
						$('#matchinfo_blue_p1_name').val('');
						$('#matchinfo_blue_p2_name').val('');
						$('#matchinfo_blue_p3_name').val('');
						$('#matchinfo_blue_p4_name').val('');
						$('#matchinfo_blue_club_name').val('');

						$('#matchinfo_match_date').val('');
						$('#matchinfo_time_start').val('');
						$('#matchinfo_time_end').val('');
						$('#matchinfo_red_goga_avg').val('');
						$('#matchinfo_blue_goga_avg').val('');

						$('#matchinfo_red_win').val('');
						$('#matchinfo_blue_win').val('');
					});
				}
			});
		})

		//라이더 숫자 바뀔때 
		$('#matchinfo_player_num').change(function(e) {
			var state=$('#matchinfo_player_num option:selected').val();
			var team="all"
			$(this).val(state);
			console.log("change team : "+team + state);
			
			if( team=="red" || team=="all" ){
				if( state== '2'){
					$('#matchinfo_red_p3_name').attr('disabled',true);
					$('#matchinfo_red_p4_name').attr('disabled',true);
					$('#matchinfo_redteam_member_edit_btn').attr('data-player_num',state)

				}
				else if( state== '3'){
					$('#matchinfo_red_p3_name').attr('disabled',false);
					$('#matchinfo_red_p4_name').attr('disabled',true);
					$('#matchinfo_redteam_member_edit_btn').attr('data-player_num',state)
				}
				else if( state== '4'){
					console.log("state:"+state)
					$('#matchinfo_red_p3_name').attr('disabled',false);
					$('#matchinfo_red_p4_name').attr('disabled',false);
					$('#matchinfo_redteam_member_edit_btn').attr('data-player_num',state)
				}
			}
			if( team=="blue" || team=="all" ){
				if( state== '2'){
					$('#matchinfo_blue_p3_name').attr('disabled',true);
					$('#matchinfo_blue_p4_name').attr('disabled',true);
					$('#matchinfo_redteam_member_edit_btn').attr('data-player_num',state)
				}
				else if( state== '3'){
					console.log("change")
					$('#matchinfo_blue_p3_name').attr('disabled',false);
					$('#matchinfo_blue_p4_name').attr('disabled',true);
					$('#matchinfo_redteam_member_edit_btn').attr('data-player_num',state)
				}
				else if( state== '4'){
					$('#matchinfo_blue_p3_name').attr('disabled',false);
					$('#matchinfo_blue_p4_name').attr('disabled',false);
					$('#matchinfo_redteam_member_edit_btn').attr('data-player_num',state)
				}
			}
		})
		function create_redteam_player(player_name) {
			player_num = $('#matchinfo_redteam_member_edit_btn').attr('data-player_num');
			console.log("player_nim:" + player_num)
			if(player_name=="None")
				return;
			$('tbody[name=modal_tbody_redteam_player]').append('<tr name="modal_tobody_tr_red_player">\
				<td><input type="checkbox"></input></td>\
				<td name="regular" data-player_name="'+player_name+'" 	data-player_num='+player_num+'>'+player_name+'</td>\
				</tr>')

		}
		function create_redteam_subplayer(player_name) {
			if(player_name=="None")
				return;
			$('tbody[name=modal_tbody_redteam_subplayer]').append('<tr name="modal_tobody_tr_red_subplayer" >\
				<td><input type="checkbox"></input></td>\
				<td name="sub" data-player_name="'+player_name+'" data-player_num='+player_num+'>'+player_name+'</td>\
				</tr>')

		}

		$(document).on('click','#matchinfo_redteam_member_edit_btn',function(e) {
			console.log("ddd")
			player_num=$(this).attr('data-player_num');
			red_p1=$('#matchinfo_red_p1_name').val();
			red_p2=$('#matchinfo_red_p2_name').val();
			red_p3=$('#matchinfo_red_p3_name').val();
			red_p4=$('#matchinfo_red_p4_name').val();
			club_id="{{club.pk}}"

			$.ajax({
				url: "{% url 'hzm:ajax_get_redteam_subplayer' %}",
				type: 'GET',
				dataType: 'json',
				data : {
					'player_num' : player_num,
					'red_p1' :red_p1,
					'red_p2' :red_p2,
					'red_p3' :red_p3,
					'red_p4' :red_p4,
					'club_id' :club_id,
				},
				success:function(data) {
					for(var i=0; i<data.length ; i++){
						create_redteam_subplayer(data[i].player_name);
					}
				}
			});


			$.ajax({
				url: "{% url 'hzm:ajax_get_redteam_player' %}",
				type: 'GET',
				dataType: 'json',
				data : {
					'player_num' : player_num,
					'red_p1' :red_p1,
					'red_p2' :red_p2,
					'red_p3' :red_p3,
					'red_p4' :red_p4,
					'club_id' :club_id,
				},
				success:function(data) {
					for(var i=0; i<data.length ; i++){
						create_redteam_player(data[i].player_name);
					}
				}
			});
			
		});

		$(document).on('click','td[name=regular]',function(e) {
			console.log("regular");
			var player = $(this).text();
			create_redteam_subplayer(player);
			$(this).parent().remove();
		});

		$(document).on('click','td[name=sub]',function(e) {
			console.log("sub");
			check_player_num=$('td[name=regular]')
			player_num=$(this).attr('data-player_num');
			console.log(check_player_num.length)
			console.log(player_num)

			if(check_player_num.length < player_num){
				console.log(check_player_num)

			var player = $(this).text();
			create_redteam_player(player);
			$(this).parent().remove();
			}
			else{
				swal("인원초과");
			}

		});

		function init_modal_redteam(){
			$('tbody[name=modal_tbody_redteam_player]').empty();
			$('tbody[name=modal_tbody_redteam_subplayer]').empty();
		}
		//라이더 수정 모달 초기화
		$(document).keydown(function(event) {
			init_modal_redteam();
			$('#modal_redteam_member').modal('hide');
		});

		$(document).on('click','button[name=modal_redteam_close_btn]',function(e){
			init_modal_redteam();
			$('#modal_redteam_member').modal('hide');
		});

		$(document).on('click','#modal_redteam_save_btn',function(e){
			players=$('tbody td[name=regular]');
			var player_num=players.length;
			var red_p1;
			var red_p2;
			var red_p3;
			var red_p4;


			$('#matchinfo_red_p1_name').val('');
			$('#matchinfo_red_p2_name').val('');
			$('#matchinfo_red_p3_name').val('');
			$('#matchinfo_red_p4_name').val('');

			if(player_num>=1) $('#matchinfo_red_p1_name').val(players[0].dataset.player_name);
			if(player_num>=2) $('#matchinfo_red_p2_name').val(players[1].dataset.player_name);
			if(player_num>=3) $('#matchinfo_red_p3_name').val(players[2].dataset.player_name);
			if(player_num>=4) $('#matchinfo_red_p4_name').val(players[3].dataset.player_name);
			init_modal_redteam();
			$('#modal_redteam_member').modal('hide');
		})
		//라이더 이름 불러오기

		$(document).ready(function(e) {
			var player_num="{{match.player_num}}";
			var red_p3_name="{{match.red_player_name.2}}";
			var red_p4_name="{{match.red_player_name.3}}";
			var blue_p3_name="{{match.blue_player_name.2}}";
			var blue_p4_name="{{match.blue_player_name.3}}";
			console.log("blue"+blue_p4_name);
			if(player_num >= 3){ 
				if(red_p3_name != "None") $('#matchinfo_red_p3_name').val(red_p3_name);
				$('#matchinfo_blue_p3_name').val(blue_p3_name);
			}
			if(player_num >=4) {
				if(red_p4_name != "None") $('#matchinfo_red_p4_name').val(red_p4_name);
				$('#matchinfo_blue_p4_name').val(blue_p4_name);
			}
		});
		//레코드 삭제 버튼
		$(document).on('click','button[name=AdminRecordDeleteBtn]',function(){
			record_pk=$(this).attr('data-pk');
			console.log(record_pk)
			$.ajax({
				url:"{% url 'hzm:ajax_delete_admin_record' %}",
				type:'GET',
				data : {
					'record_pk':record_pk,
				},
				success:function(data){
					$('#tr_record_'+data).remove();
				},
				error:function(error){
					swal("통신 오류")
				},
			})
		});

		//레코드 수정 버튼
		$(document).on('click','button[name=AdminRecordEditBtn]',function(){
			console.log("edit")
			record_pk=$(this).attr('data-pk');
			record=$('#td_record_'+record_pk).val();
			console.log(record)
			if(goga_form_check(record)==false )return swal("기록 양식 00:00:00");
			$.ajax({
				url:"{% url 'hzm:ajax_edit_admin_record' %}",
				type:'GET',
				data : {
					'record_pk':record_pk,
					'record':record,
				},
				success:function(data){
					console.log(data)
				},
				error:function(error){},
			})
		});
	</script>
	
</body>


<html>