<!DOCTYPE html>
<html>
<head>
	<meta charset="uft-8">
	<meta name="viewprot" content="width=device-width, inital-scale=1, shrinkt-to-fit=no, user-scalable=no">
	<link rel="shortcut icon" type="image/x-icon" href="/static/imgs/icon/favicon.png">

	<!--부트스트랩-->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	 <script src="/static/js/jquery-3.5.1.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	



	 <!--커스텀-->
	 <link rel="stylesheet" type="text/css" href="/static/css/main_page.css?2">
	 <link rel="stylesheet" type="text/css" href="/static/css/custom_swal.css">
	 <link rel="stylesheet" type="text/css" href="/static/css/bt_tab_bar.css?3">
	 <link rel="stylesheet" type="text/css" href="/static/css/top_nav_bar.css?3">
	 <link rel="stylesheet" type="text/css" href="/static/css/personal_record.css?4">		


	 <!--폰트 어썸-->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

	 <!--알림창-->
	 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


	<title>학지매-개인기록</title>
</head>
<body style="height:100%;">
	
	<!--내비게이션 바-->
		<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky; top:0;">
			<a class="navbar-brand" id="navbar_club_name" href="{% url 'hzm:main_page' %}">{{club.club_name}}</a>
	 	 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	 	 	<div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item dropdown">
			      	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">친선 경기</a>
			      	<div class="dropdown-menu">
			      		 <a class="nav-link" href="{% url 'hzm:match_form' %}">&nbsp;경기 신청 <span class="sr-only">(current)</span></a>
			      		{% if pk %}
			      		<a class="nav-link" href="{% url 'hzm:match_before' %}">&nbsp;경기 신청 현황</a>
			      		{% endif %}
			      		<a class="nav-link" href="{% url 'hzm:match' %}">&nbsp;경기 결과</a>
			      	</div>
			      </li>
			      {% if pk %}
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'hzm:schedule' %}">일정관리</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" id="logout_btn">로그아웃</a>
			      </li>
			      {% else %}
			       <li class="nav-item">
			        <a class="nav-link" id="signin_btn" data-toggle="modal" data-target="#login">로그인</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" id="signup_btn" data-toggle="modal" data-target="#login">가입하기</a>
			      </li>
			      {% endif %}
			      
			  	</ul>
			 </div>
		</nav>
	<!--navbar 끝-->
	<!--middle container-->
		<div id="middle-container" class="container-fluid" style="height:100vh; overflow:scroll;">
			<div class="media" style="padding-top:2%; margin-bottom:5%;">
				<i class="fas fa-car fa-4x" style="padding-left:5%;"></i>
				<div class="media-body" style="margin-left:5%;">
					<h5 class="mt-0">{{player.player_name}}님 개인기록실</h5>
					친선전 전적 : {{player.win}}승 {{player.lose}}패</br>
			  	</div>
			</div>
			<hr>
			<button style="float :left; margin-left : 1%; " id="record_add_btn" data-toggle="modal" data-target="#modal_record" type="button" class="btn btn-dark">기록 추가</button>

			<div class="input-group mb-3" style="width:25%; float:right;">
				<input type="text" id="keyword_mapname" class="form-control" placeholder="검색 내용" aria-label="검색 내용" aria-describedby="button-addon2">
				<div class="input-group-append" style="background-color: #343a40; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; min-width:18%; width:18%;">
					<i id="map_search_btn" class="fa fa-search fa-lg fa-fw" style="display:block; width:100%; padding-top:12px; color:white;"></i>
				</div>
			</div>
			<div id="table_container" class="container-fluid" style="overflow:scroll; height:60vh;">
				<table class="table table-md">
				  <thead class="thead-light">
				    <tr>
				      <th scope="col" style="width:8%; text-align: center; position:sticky; top:0;">#</th>
				      <th scope="col" style="width:31%; text-align: center; position:sticky; top:0;">맵 이름</th>
				      <th scope="col" style="width:22%; text-align: center; position:sticky; top:0;">나의 최고 기록</th>
				      <th scope="col" style="width:22%; text-align: center; position:sticky; top:0;">클럽 최고 기록</th>
				      <th scope="col" style="width:15%; text-align: center; position:sticky; top:0;">클럽 내 등수</th>
				    </tr>
				  </thead>
				  <tbody id="record_table_tbody">
				  	{% for record in records %}
				  	<tr>
				  		<td style="text-align:center;">{{forloop.counter}}</td>
				  		<td style="text-align:center;">{{record.map_name}}</td>
				  		<td style="text-align:center;">{{record.record}}</td>
				  		<td id="tr_best_record_{{record.maps_id}}" style="text-align:center;"></td>
				  		<td id="tr_rank_{{record.maps_id}}" style="text-align:center;"></td>
				  	</tr>
				  	{% endfor %}
				  </tbody>
				</table>				
			</div>
		</div><!--middle container 끝-->


		<!--하단 탭바-->
		<nav id="bottom_tapbar" class="navbar fixed-bottom navbar-light bg-light" style="position:sticky; bottom:0; height:10%; max-height:10%; margin-top:1rem; padding:0;">
			<div class="container-fluid" style="padding:0;">
				<ins class="kakao_ad_area" style="display:none;" data-ad-unit    = "DAN-VgaPZkxM9B2j0lxu" data-ad-width   = "320"  data-ad-height  = "100"></ins> 
				<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-3" id="bottom_home">
						<a href="{% url 'hzm:main_page' %}" >
							<span>
								<i class="fa fa-home" id="bottom_home_btn" style="color:gray;"></i>
							</span>
								<h2>홈</h2>
							</a>
						</div>
					<div class="col-3" id="bottom_club" >
							<a  href="{% url 'hzm:club' club.pk %}" >
								<span>
									<i class="fas fa-flag-checkered" id="bottom_club_btn" style="color:gray;" ></i>
								</span>
								<h2>클럽</h2>
							</a>
					</div>
					<div class="col-3" id="bottom_record">
						<a href="{% url 'hzm:personal_record' %}" >
							<span>
								<i class="fas fa-clipboard" id="bottom_club_btn" style="color:black;" ></i>
							<span>
								<h2>개인기록</h2>
						</a>
					</div>
					<div class="col-3" id="bottom_user" >
							<a href="{% url 'hzm:mypage' %}" >
								<span >
									<i class="fa fa-user" id="bottom_user_btn" style="color:gray;" ></i>
								</span>
								<h2>마이룸</h2>
							</a>
						</div>
					</div>
				</div>
		</nav><!--하단 탭바 끝-->
	

<!--친선경기 신청 모달-->
<div class="modal fade" id="friendlymatch" tabindex="-1" aria-labelledby="modal_fmatch_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_fmatch_title">친선경기 신청 </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
      <div class="modal-body">
      	<div class="input-group mb-3">
			<span class="input-group-text">클럽이름</span>
			<input type="text" id="modal_fmatch_clubname" class="form-control" placeholder="클럽이름" aria-label="클럽이름" aria-describedby="button-addon2" required>
		</div>
			<div class="input-group mb-3">
			<span class="input-group-text"> 신청자 </span>
			<input type="text" id="modal_fmatch_name" class="form-control" placeholder="카러플 닉네임" aria-label="신청자" aria-describedby="button-addon2" required>
		</div>
      	<div class="input-group mb-3">
      		<span class="input-group-text">경기 인원</span>
      		<select id="modal_fmatch_select" class="form-control" required>
      			<option id="modal_fmatch_player_option1" value="2"> 2 vs 2</option>
      			<option id="modal_fmatch_player_option2" value="3"> 3 vs 3</option>
      			<option id="modal_fmatch_player_option3" value="4" selected> 4 vs 4</option>
      		</select>
      	</div>
		<div class="input-group mb-3">
			<span class="input-group-text">라이더</span>
			<input type="text" id="modal_fmatch_blue_p1_name" class="form-control" placeholder="라이더1" aria-label="player_name" aria-describedby="button-addon2" required>
			<input type="text" id="modal_fmatch_blue_p2_name" class="form-control" placeholder="라이더2" aria-label="player_name" aria-describedby="button-addon2" required>
			<input type="text" id="modal_fmatch_blue_p3_name" class="form-control" placeholder="라이더3" aria-label="player_name" aria-describedby="button-addon2" required >
			<input type="text" id="modal_fmatch_blue_p4_name" class="form-control" placeholder="라이더4" aria-label="player_name" aria-describedby="button-addon2" required >
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">경기날짜</span>
			<input type="date" id="modal_fmatch_date" class="form-control" placeholder="경기날짜" aria-label="경기날짜" aria-describedby="button-addon2" required>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">고가 평균</span>
			<input type="text" id="modal_fmatch_blue_goga_avg" class="form-control" placeholder="00:00:00 으로 입력해주세요" aria-label="시작시간" aria-describedby="button-addon2" required>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">시작시간</span>
			<input type="time" id="modal_fmatch_time_start" class="form-control" placeholder="경기시간" aria-label="시작시간" aria-describedby="button-addon2" required>
			<span class="input-group-text">종료시간</span>
			<input type="time" id="modal_fmatch_time_end" class="form-control" placeholder="경기시간" aria-label="종료시간" aria-describedby="button-addon2" required>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">비밀번호</span>
			<input type="text" id="modal_fmatch_passwd" class="form-control" placeholder="내용 수정시 필요 꼭 기억해 주세요" aria-label="비밀번호" aria-describedby="button-addon2" required>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-dark" data-dismiss="modal">닫기</button>
        <button type="button" id="modal_fmatch_btn" class="btn btn-secondary bg-dark">신청하기</button>
      </div>
  </form>
    </div>
  </div>
</div>


<!--기록 추가 모달-->
<div class="modal fade" id="modal_record" tabindex="-1" aria-labelledby="modal_record_title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			 <div class="modal-header">
			 	<h5 class="modal-title" id="modal_record_title">기록 추가 </h5>
			 	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			 		<span aria-hidden="true">&times;</span>
			 	</button>
			 </div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<span class="input-group-text">맵 이름</span>
					<select id="modal_record_map_name" class="form-control">
						{% for map in maps %}
						<option value="{{map.pk}}">{{map.map_name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">기록 </span>
					<input type="text" id="modal_record_time" class="form-control" placeholder="00:00:00 으로 입력해주세요" aria-label="맵 기록" aria-describedby="button-addon2" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">기록 경신일</span>
					<input type="text" id="modal_record_date" class="form-control" placeholder="입력 형식 2020-01-01" aria-label="맵 기록" aria-describedby="button-addon2" value="2020-01-01" disabled>
				</div>
			</div><!--modal body end-->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary bg-dark" data-dismiss="modal">닫기</button>
				<button type="button" id="modal_record_add_btn" class="btn btn-secondary bg-dark">기록추가</button>
			</div>
		</div>
  	</div>
 </div>

<!-- script start -->
	<script>
		
		function getTime() {
			var Now = new Date();
			var NowTime = Now.getFullYear();
			
			NowTime += '-' + String(Number(Now.getMonth()) +1) ;
			NowTime += '-' + Now.getDate();
			NowTime += ' ' + Now.getHours();
			NowTime += ':' + Now.getMinutes();
			NowTime += ':' + Now.getSeconds();
			return NowTime;
		}

				//경기신청모달 고가 평균 폼 확인
		function goga_form_check(data){
			data_=data.split(':')

			if(data.length != 8)
				return false;
			else if(data[2] != ':')
				return false;
			else if(data[5] != ':')
				return false;
			else if(isNaN(data_[0]))
				return false;
			else if(isNaN(data_[1]))
				return false;
			else if(isNaN(data_[2]))
				return false;

			return true;
		}
		//경기신청모달 경기 날짜 폼 체크
		function match_date_form_check(match_date) {
			if(match_date.length != 10) 
				return false;
			else if(match_date[4] != '-')
				return false;
			else if(match_date[7] != '-')
				return false;
			
			match_date_=match_date.split('-')

			if(isNaN(match_date_[0]))
				return false;
			else if(isNaN(match_date_[1]))
				return false;
			else if(isNaN(match_date_[2]))
				return false;

			return true;
		}
		//경기신청 모달 시간 체크
		function time_form_check(time){
			if(time.length != 5)
				return false;
			else if(time[2] != ':')
				return false;

			time_=time.split(':')
			if(isNaN(time_[0]))
				return false;
			else if (isNaN(time_[1]))
				return false;
			return true;
		}

		

		//로그아웃 버튼 클릭
		$(document).on('click','#logout_btn', function(e) {
			$.ajax({
				url:"{% url 'hzm:ajax_logout' %}",
				type:'GET',
				success:function(data) {
					swal("바이바이~");
					location.reload();
				},
				error : function(error) {
					swal("실패");
				}
			})
		});

	


		//개인 기록 테이블
		function create_record_table(data,num) {
			$('#record_table_tbody').append('<tr>\
				<td style="text-align:center;">'+num+'</td>\
				<td style="text-align:center;">'+data.map_name	+'</td>\
				<td style="text-align:center;">'+data.record+'</td>\
				<td id="tr_best_record_'+data.maps_id+'" style="text-align:center;"></td>\
				<td id="tr_rank_'+data.maps_id+'" style="text-align:center;"></td>\
				</tr>');
		}

		//기록추가 모달에서 추가 버튼 클릭 시 
		$(document).on('click','#modal_record_add_btn',function(e) {
			var map_record=$('#modal_record_time').val();
			var maps_id=$('#modal_record_map_name option:selected').val();
			var record_date=$('#modal_record_date').val();

			if(goga_form_check(map_record) == false)
				return swal("기록 입력 양식 00:00:00")
			if(match_date_form_check(record_date) == false)
				return swal("날짜 입력 양식 ex) 2020-01-01");

			$.ajax({
				url:"{% url 'hzm:ajax_add_map_record' %}",
				type:'POST',
				dataType:'json',
				data: {
					'csrfmiddlewaretoken':"{{csrf_token}}",
					'record':map_record,
					'maps_id':maps_id,
					'record_date':record_date,
				},
				success: function(data) {
					$('#modal_record').modal('hide');
					modal_record_init();
					
					$('#record_table_tbody').empty();
					for(var i=0; i<data.length; i++) {
						create_record_table(data[i],i+1)
					}
					
					get_record_rank()
				},
				error : function(error) {

				},
			})
		});

		function modal_record_init(){
			$('#modal_record_time').val('');
		}

			 	/*검색기능*/
		$(document).ready(function(){
			$("#keyword_mapname").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#record_table_tbody tr").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});


				//기록에 랭크 
		function get_record_rank() {
			$.ajax({
				url : "{% url 'hzm:ajax_get_record_rank' %}",
				type:'GET',
				dataType:'json',
				data:{
				},
				success:function(data){
					console.log(data['best_record[]'].length)
					for(var i=0; i < data['best_record[]'].length;i++){
						$('#tr_best_record_'+data['maps_id[]'][i]).text(data['best_record[]'][i])
						$('#tr_rank_'+data['maps_id[]'][i]).text(data['rank[]'][i])
					}
					
				},
				error:function(error){
				},
			})
		}

		$(document).ready(function(e) {
			get_record_rank();
		})
	</script>
	
</body>


<html>