<!DOCTYPE html>
<html>
<head>
	<meta charset="uft-8">
	<meta name="viewprot" content="width=device-width, inital-scale=1, shrinkt-to-fit=no, user-scalable=no">
	<link rel="shortcut icon" type="image/x-icon" href="/static/imgs/icon/favicon.png">

	<!--부트스트랩-->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	 <script src="/static/js/jquery-3.5.1.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	



	 <!--커스텀-->
	 <link rel="stylesheet" type="text/css" href="/static/css/main_page.css?2">
	 <link rel="stylesheet" type="text/css" href="/static/css/custom_swal.css">
	 <link rel="stylesheet" type="text/css" href="/static/css/bt_tab_bar.css?2">
	 <link rel="stylesheet" type="text/css" href="/static/css/top_nav_bar.css?3">	


	 <!--폰트 어썸-->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

	 <!--알림창-->
	 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


	<title>학지매</title>
</head>
<body style="height:100%;">
	
	<!--내비게이션 바-->
		<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky; top:0;">
			<a class="navbar-brand" id="navbar_club_name" href="{% url 'hzm:main_page' %}">{{club_id}}</a>
	 	 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	 	 	<div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item dropdown">
			      	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">친선 경기</a>
			      	<div class="dropdown-menu">
			      		 <a class="nav-link" href="{% url 'hzm:match_form' %}">&nbsp;경기 신청 <span class="sr-only">(current)</span></a>
			      		{% if pk %}
			      		<a class="nav-link" href="{% url 'hzm:match_before' %}">&nbsp;경기 신청 현황</a>
			      		{% endif %}
			      		<a class="nav-link" href="{% url 'hzm:match' %}">&nbsp;경기 결과</a>
			      	</div>
			      </li>
			      {% if pk %}
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'hzm:personal_record' %}">개인 기록</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'hzm:schedule' %}">일정관리</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" id="logout_btn">로그아웃</a>
			      </li>
			      {% else %}
			       <li class="nav-item">
			        <a class="nav-link" id="signin_btn" data-toggle="modal" data-target="#login">로그인</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" id="signup_btn" data-toggle="modal" data-target="#login">가입하기</a>
			      </li>
			      {% endif %}
			      
			  	</ul>
			 </div>
		</nav>
	<!--navbar 끝-->
	<!--middle container-->
		<div class="container-fluid" style="height:100vh; padding:5%; overflow:scroll;">
			<div class="media" style="padding-top:2%; margin-bottom:5%;">
				<i class="fas fa-car fa-4x" style="padding-left:5%;"></i>
				<div class="media-body" style="margin-left:5%;">
					<h5 class="mt-0">{{player_name}}님 개인기록실</h5>
					개인 기록을 기록해 주세요</br>
			  	</div>
			</div>
			<hr>
			<button style="float :left; margin-left : 1%; " id="record_add_btn" data-toggle="modal" data-target="#modal_record" type="button" class="btn btn-dark">기록 추가</button>

			<div class="input-group mb-3" style="width:25%; float:right;">
				<input type="text" id="keyword_mapname" class="form-control" placeholder="검색 내용" aria-label="검색 내용" aria-describedby="button-addon2">
				<div class="input-group-append" style="background-color: #343a40; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; min-width:18%; width:18%;">
					<i id="map_search_btn" class="fa fa-search fa-lg fa-fw" style="display:block; width:100%; padding-top:12px; color:white;"></i>
				</div>
			</div>
			<div class="container-fluid" style="overflow:scroll; height:40vh;">
				<table class="table table-md" >
				  <thead class="thead-light">
				    <tr>
				      <th scope="col" style="width:8%; text-align: center; position:sticky; top:0;">#</th>
				      <th scope="col" style="width:29%; text-align: center; position:sticky; top:0;">맵 이름</th>
				      <th scope="col" style="width:22%; text-align: center; position:sticky; top:0;">나의 최고 기록</th>
				      <th scope="col" style="width:22%; text-align: center; position:sticky; top:0;">클럽 최고 기록</th>
				      <th scope="col" style="width:17%; text-align: center; position:sticky; top:0;">클럽 내 등수</th>
				    </tr>
				  </thead>
				  <tbody id="record_table_tbody">
				  </tbody>
				</table>				
			</div>
		</div><!--middle container 끝-->


		<!--하단 탭바-->
<!--하단 탭바-->
		<nav id="bottom_tapbar" class="navbar fixed-bottom navbar-light bg-light" style="position:sticky; bottom:0; height:10%; max-height:10%; margin-top:1rem; padding:0;">
						<div class="container-fluid" style="padding:0;">
<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-VgaPZkxM9B2j0lxu" 
 data-ad-width   = "320" 
 data-ad-height  = "100"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-4" id="bottom_home" style="display:block; text-align: center;">
						<a style="color: black; text-decoration:none" href="{% url 'hzm:main_page' %}" >
							<span>
								<i class="fa fa-home" id="bottom_home_btn" style="color:gray;"></i>
							<span>
							<h2>홈</h2>
						</a>
					</div>
					<div class="col-4" id="bottom_club" style="display:block; text-align: center;">
						<a style="color: black; text-decoration:none" href="{% url 'hzm:club' club_id %}" >
							<span>
								<i class="fas fa-flag-checkered" id="bottom_club_btn" style="color:gray;" ></i>
							<span>
								<h2>클럽</h2>
						</a>
					</div>
					<div class="col-4" id="bottom_user" style="display:block; text-align: center;">
						<a style="color: black; text-decoration:none" href="{% url 'hzm:mypage' %}" >
							<span >
								<i class="fa fa-user" id="bottom_user_btn" style="color:gray;" ></i>
							</span>
							<h2>마이룸</h2>
						</a>
					</div>
				</div>
			</div>
		</nav>
		<!--하단 탭바 끝-->
	

<!--친선경기 신청 모달-->
<div class="modal fade" id="friendlymatch" tabindex="-1" aria-labelledby="modal_fmatch_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_fmatch_title">친선경기 신청 </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
      <div class="modal-body">
      	<div class="input-group mb-3">
			<span class="input-group-text">클럽이름</span>
			<input type="text" id="modal_fmatch_clubname" class="form-control" placeholder="클럽이름" aria-label="클럽이름" aria-describedby="button-addon2" required>
		</div>
			<div class="input-group mb-3">
			<span class="input-group-text"> 신청자 </span>
			<input type="text" id="modal_fmatch_name" class="form-control" placeholder="카러플 닉네임" aria-label="신청자" aria-describedby="button-addon2" required>
		</div>
      	<div class="input-group mb-3">
      		<span class="input-group-text">경기 인원</span>
      		<select id="modal_fmatch_select" class="form-control" required>
      			<option id="modal_fmatch_player_option1" value="2"> 2 vs 2</option>
      			<option id="modal_fmatch_player_option2" value="3"> 3 vs 3</option>
      			<option id="modal_fmatch_player_option3" value="4" selected> 4 vs 4</option>
      		</select>
      	</div>
		<div class="input-group mb-3">
			<span class="input-group-text">라이더</span>
			<input type="text" id="modal_fmatch_blue_p1_name" class="form-control" placeholder="라이더1" aria-label="player_name" aria-describedby="button-addon2" required>
			<input type="text" id="modal_fmatch_blue_p2_name" class="form-control" placeholder="라이더2" aria-label="player_name" aria-describedby="button-addon2" required>
			<input type="text" id="modal_fmatch_blue_p3_name" class="form-control" placeholder="라이더3" aria-label="player_name" aria-describedby="button-addon2" required >
			<input type="text" id="modal_fmatch_blue_p4_name" class="form-control" placeholder="라이더4" aria-label="player_name" aria-describedby="button-addon2" required >
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">경기날짜</span>
			<input type="date" id="modal_fmatch_date" class="form-control" placeholder="경기날짜" aria-label="경기날짜" aria-describedby="button-addon2" required>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">고가 평균</span>
			<input type="text" id="modal_fmatch_blue_goga_avg" class="form-control" placeholder="00:00:00 으로 입력해주세요" aria-label="시작시간" aria-describedby="button-addon2" required>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">시작시간</span>
			<input type="time" id="modal_fmatch_time_start" class="form-control" placeholder="경기시간" aria-label="시작시간" aria-describedby="button-addon2" required>
			<span class="input-group-text">종료시간</span>
			<input type="time" id="modal_fmatch_time_end" class="form-control" placeholder="경기시간" aria-label="종료시간" aria-describedby="button-addon2" required>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">비밀번호</span>
			<input type="text" id="modal_fmatch_passwd" class="form-control" placeholder="내용 수정시 필요 꼭 기억해 주세요" aria-label="비밀번호" aria-describedby="button-addon2" required>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-dark" data-dismiss="modal">닫기</button>
        <button type="button" id="modal_fmatch_btn" class="btn btn-secondary bg-dark">신청하기</button>
      </div>
  </form>
    </div>
  </div>
</div>


<!--기록 추가 모달-->
<div class="modal fade" id="modal_record" tabindex="-1" aria-labelledby="modal_record_title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			 <div class="modal-header">
			 	<h5 class="modal-title" id="modal_record_title">기록 추가 </h5>
			 	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			 		<span aria-hidden="true">&times;</span>
			 	</button>
			 </div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<span class="input-group-text">맵 이름</span>
					<select id="modal_record_map_name" class="form-control">
						{% for map in maps %}
						<option value="{{map.pk}}">{{map.map_name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">기록 </span>
					<input type="text" id="modal_record_time" class="form-control" placeholder="00:00:00 으로 입력해주세요" aria-label="맵 기록" aria-describedby="button-addon2" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text">기록 경신일</span>
					<input type="text" id="modal_record_date" class="form-control" placeholder="입력 형식 2020-01-01" aria-label="맵 기록" aria-describedby="button-addon2" value="2020-01-01" disabled>
				</div>
			</div><!--modal body end-->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary bg-dark" data-dismiss="modal">닫기</button>
				<button type="button" id="modal_record_add_btn" class="btn btn-secondary bg-dark">기록추가</button>
			</div>
		</div>
  	</div>
 </div>

<!-- script start -->
	<script>
		
		function getTime() {
			var Now = new Date();
			var NowTime = Now.getFullYear();
			
			NowTime += '-' + String(Number(Now.getMonth()) +1) ;
			NowTime += '-' + Now.getDate();
			NowTime += ' ' + Now.getHours();
			NowTime += ':' + Now.getMinutes();
			NowTime += ':' + Now.getSeconds();
			return NowTime;
		}

				//경기신청모달 고가 평균 폼 확인
		function goga_form_check(data){
			data_=data.split(':')

			if(data.length != 8)
				return false;
			else if(data[2] != ':')
				return false;
			else if(data[5] != ':')
				return false;
			else if(isNaN(data_[0]))
				return false;
			else if(isNaN(data_[1]))
				return false;
			else if(isNaN(data_[2]))
				return false;

			return true;
		}
		//경기신청모달 경기 날짜 폼 체크
		function match_date_form_check(match_date) {
			if(match_date.length != 10) 
				return false;
			else if(match_date[4] != '-')
				return false;
			else if(match_date[7] != '-')
				return false;
			
			match_date_=match_date.split('-')

			if(isNaN(match_date_[0]))
				return false;
			else if(isNaN(match_date_[1]))
				return false;
			else if(isNaN(match_date_[2]))
				return false;

			return true;
		}
		//경기신청 모달 시간 체크
		function time_form_check(time){
			if(time.length != 5)
				return false;
			else if(time[2] != ':')
				return false;

			time_=time.split(':')
			if(isNaN(time_[0]))
				return false;
			else if (isNaN(time_[1]))
				return false;
			return true;
		}

		//경기신청 버튼
		$(document).on('click','#modal_fmatch_btn',function(e) {
			var blue_goga_avg = $('#modal_fmatch_blue_goga_avg').val();
			var formData = new FormData();
			var post_writer = $('#modal_fmatch_name').val();
			var club_name = $('#modal_fmatch_clubname').val();
			var match_date = $('#modal_fmatch_date').val();
			var match_time_start = $('#modal_fmatch_time_start').val();
			var match_time_end = $('#modal_fmatch_time_end').val();
			var player_num = $('#modal_fmatch_select').val();
			var passwd = $('#modal_fmatch_passwd').val();
			var player = Array();
			var date = getTime();
			var player_count=0;
			
			for(var i = 0; i <player_num; i++) {
					player[i] = $('#modal_fmatch_blue_p'+(i+1)+'_name').val();
					if($.trim(player[i]) != '') {
						player_count++;
						console.log("player["+i+"]:"+player[i]);
					}
			}


			if( $.trim(club_name) == '') {
				return swal("클럽명을 입력해주세요");
			}
			else if($.trim(post_writer) == '') {
				return swal("카러플 닉네임을 입력해주세요");
			}
			else if(player_num != player_count){
				console.log("player_num :"+player_num)
				console.log("player_num input :"+player.length)
				return swal("라이더를  입력해 주세요");
			}
			else if(!(match_date)){
				console.log("match date : "+match_date)
				return swal("희망 경기 날짜를 입력해주세요 ex)2020-01-01");
			}
			else if(match_date_form_check(match_date) == false){
				return swal("희망 경기 날짜를 입력해주세요 ex)2020-01-01");
			}
			else if(goga_form_check(blue_goga_avg) == false) {	
				return swal("고가 입력 양식 00:00:00");
			} 
			else if(time_form_check(match_time_start) == false || time_form_check(match_time_end) == false){
				return swal("시간 입력 양식 ex) 11:11")
			}
			else if(!(match_time_start))
				return swal("시작 시간을 입력해주세요");
			else if(!(match_time_end))
				return swal("종료 시간을 입력해주세요");
			else if(match_time_start > match_time_end)
				return swal("시작시간이 종료시간보다 늦습니다!");
			else if(!(passwd))
				return swal("비밀번호를 입력해주세요");

			console.log("match date : "+match_date);
			console.log(match_time_start);
			console.log(match_time_end);

			swal({
				title: "이길 수 있겠어?",
				text: "무르기 없기~",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
			.then((willDelete) => {
				if (willDelete) {

					formData.append('csrfmiddlewaretoken','{{ csrf_token }}');
					formData.append('p1',player[0]);
					formData.append('p2',player[1]);
					formData.append('p3',player[2]);
					formData.append('p4',player[3]);
					formData.append('post_writer',post_writer);
					formData.append('club_name',club_name);
					formData.append('match_date',match_date);
					formData.append('match_time_start',match_time_start);
					formData.append('match_time_end',match_time_end);
					formData.append('player_num',player_num);
					formData.append('passwd',passwd);
					formData.append('blue_goga_avg',blue_goga_avg);
					formData.append('date',date);
					console.log("date : "+date)
					$.ajax({
						url : "{% url 'hzm:ajax_add_fmatch' %}",
						type : 'POST',
						contentType : false,
						processData : false,
						data : formData,
						success : function(data) {
							$('#friendlymatch').modal('hide');
							swal("신청완료", "수락 완료되면 경기결과에서 확인 하 실 수 있어요!", "success");
							
						},
						error : function(error) {
							swal("신청실패", "아마도 통신오류??..", "error");
							$('#friendlymatch').modal('hide');
						},
					});



				} else {
					swal("담에 봐요!");
					$('#friendlymatch').modal('hide');
				}
			});

		});

		//하단 마이룸 버튼 클릭
		$(document).on('click','#bottom_user_btn',function(e) {
			$('#modal_signup_btn').attr('id','modal_signin_btn');
			$('#modal_signin_btn').text('로그인');
			$('#staticBackdropLabel').text('로그인');
			
		});


		//로그아웃 버튼 클릭
		$(document).on('click','#logout_btn', function(e) {
			$.ajax({
				url:"{% url 'hzm:ajax_logout' %}",
				type:'GET',
				success:function(data) {
					swal("바이바이~");
					location.reload();
				},
				error : function(error) {
					swal("실패");
				}
			})
		});

		//하탄 탭 클릭시 아이콘 크기 변경
		var active_btn="home";
		$(document).on('click','#bottom_home',function(e) {
			active_btn="home";
		});
		$(document).on('click','#bottom_user_btn',function(e) {
			$('#bottom_user_btn').attr('class','fa fa-user fa-5x')
			$('#bottom_'+active_btn+'_btn').attr('class', 'fa fa-'+active_btn+' fa-3x');
			active_btn="user";
		});

		$(document).on('click','#bottom_heart',function(e) {
			$('#bottom_heart_btn').attr('class','fa fa-heart fa-5x')
			if(active_btn=="heart")
				return false;
			$('#bottom_'+active_btn+'_btn').attr('class', 'fa fa-'+active_btn+' fa-3x');
			active_btn="heart";
		});

		$(document).on('click','#bottom_bell',function(e) {
			$('#bottom_bell_btn').attr('class','fa fa-bell fa-5x')
			if(active_btn=="bell")
				return false;
			$('#bottom_'+active_btn+'_btn').attr('class', 'fa fa-'+active_btn+' fa-3x');
			active_btn="bell";
		});
		
		//경기 신청모달에서 참여인원 수 선택시
		$('#modal_fmatch_select').change(function(e) {
			console.log("change1")
			var state=$('#modal_fmatch_select option:selected').val();
			if( state== '2'){
				$('#modal_fmatch_blue_p3_name').attr('disabled',true);
				$('#modal_fmatch_blue_p4_name').attr('disabled',true);
			}
			else if( state== '3'){
				console.log("change")
				$('#modal_fmatch_blue_p3_name').attr('disabled',false);
				$('#modal_fmatch_blue_p4_name').attr('disabled',true);
			}
			else if( state== '4'){
				$('#modal_fmatch_blue_p3_name').attr('disabled',false);
				$('#modal_fmatch_blue_p4_name').attr('disabled',false);
			}
		});
		//개인 기록 테이블
		function create_record_table(data,num) {
			var rank;
			var best_record;
			var maps_id=data.maps_id;
			$.ajax({
				url : "{% url 'hzm:ajax_get_record_rank' %}",
				type:'GET',
				dataType:'json',
				async:false,
				data:{
				
					'maps_id':maps_id,
				},
				success:function(data){
					rank=data.rank;
					best_record=data.best_record;
					console.log("rank");
				},
				error:function(error){
				},
			})
			console.log("data")
			$('#record_table_tbody').append('<tr>\
				<td style="text-align:center;">'+num+'</td>\
				<td style="text-align:center;">'+data.maps_id+'</td>\
				<td style="text-align:center;">'+data.record+'</td>\
				<td style="text-align:center;">'+best_record+'</td>\
				<td style="text-align:center;">'+rank+'</td>\
				</tr>');
		}
		$(document).ready(function(e) {
			$.ajax({
				url: "{% url 'hzm:ajax_get_records' %}",
				type: 'POST',
				dataType: 'json',
				data :{
					'csrfmiddlewaretoken' : "{{csrf_token}}",
				},
				success: function(data) {
					for(var i=0 ; i<data.length;i++){
						create_record_table(data[i],i+1);
					}
				}
			})
		})
		//기록추가 모달에서 추가 버튼 클릭 시 
		$(document).on('click','#modal_record_add_btn',function(e) {
			var map_record=$('#modal_record_time').val();
			var maps_id=$('#modal_record_map_name option:selected').val();
			var record_date=$('#modal_record_date').val();

			if(goga_form_check(map_record) == false)
				return swal("기록 입력 양식 00:00:00")
			if(match_date_form_check(record_date) == false)
				return swal("날짜 입력 양식 ex) 2020-01-01");

			$.ajax({
				url:"{% url 'hzm:ajax_add_map_record' %}",
				type:'POST',
				dataType:'json',
				data: {
					'csrfmiddlewaretoken':"{{csrf_token}}",
					'record':map_record,
					'maps_id':maps_id,
					'record_date':record_date,
				},
				success: function(data) {
					$('#modal_record').modal('hide');
					modal_record_init();
					$('#record_table_tbody').empty();
					for(var i=0; i<data.length; i++) {
						create_record_table(data[i],i+1)
					}
				},
				error : function(error) {

				},
			})
		});

		function modal_record_init(){
			$('#modal_record_time').val('');
		}

			 	/*검색기능*/
		$(document).ready(function(){
			$("#keyword_mapname").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#record_table_tbody tr").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>
	
</body>


<html>