<!DOCTYPE html>
<html>
<head>
	<meta charset="uft-8">
	<meta name="viewprot" content="width=device-width, inital-scale=1, shrinkt-to-fit=no">
	<link rel="shortcut icon" type="image/x-icon" href="/static/imgs/icon/favicon.png">


	<!--부트스트랩-->
	 <script src="/static/js/jquery-3.5.1.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

	 <!--커스텀-->
	 <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	 <link rel="stylesheet" type="text/css" href="/static/css/main_page.css">
	 <link rel="stylesheet" type="text/css" href="/static/css/schedule.css?1">
	 <link rel="stylesheet" type="text/css" href="/static/css/custom_swal.css">
	 <link rel="stylesheet" type="text/css" href="/static/css/bt_tab_bar.css?3">
	 <link rel="stylesheet" type="text/css" href="/static/css/top_nav_bar.css?3">

	 <!--폰트 어썸-->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	

	<!--알림창-->
	 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	 <!--달력 -->
	 <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js"></script>
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css">
	 <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/locales-all.min.js"></script>


	<title>학지매-일정관리</title>
</head>
<body style="height:100%;">
	<!--내비게이션 바-->
		<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky; top:0;">
			<a class="navbar-brand" id="navbar_club_name" href="{% url 'hzm:main_page' %}">학지매</a>
	 	 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	 	 	<div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item dropdown">
			      	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">친선 경기</a>
			      	<div class="dropdown-menu">
			      		 <a class="nav-link" href="{% url 'hzm:match_form' %}">&nbsp;경기 신청 <span class="sr-only">(current)</span></a>
			      		{% if pk %}
			      		<a class="nav-link" href="{% url 'hzm:match_before' %}">&nbsp;경기 신청 현황</a>
			      		{% endif %}
			      		<a class="nav-link" href="{% url 'hzm:match' %}">&nbsp;경기 결과</a>
			      	</div>
				  </li>
				  <li class="nav-item">
			        <a class="nav-link" name="navbar_link" href="{% url 'hzm:freeboard' %}">자유게시판</a>
			      </li>
			      {% if pk %}
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'hzm:schedule' %}">일정관리</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" id="logout_btn">로그아웃</a>
			      </li>
			      {% else %}
			       <li class="nav-item">
			        <a class="nav-link" id="signin_btn" data-toggle="modal" data-target="#login">로그인</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" id="signup_btn" data-toggle="modal" data-target="#login">가입하기</a>
			      </li>
			      {% endif %}
			      
			  	</ul>
			 </div>
		</nav>
	<!--navbar 끝-->

		<!-- middle container -->
		<div class="container-fluid" id="middle_container" style="height:100vh; padding:5%; overflow:auto;">
			
			<div class="media" style="padding-top:2%; margin-bottom:5%;">
				<i class="far fa-calendar-plus fa-4x" style="padding-left:5%;"></i>
				<div class="media-body" style="margin-left:5%;">
					<h5 class="mt-0">{{player.player_name}}님의 스케쥴 관리</h5>
					경기가 가능한 날을 표시해 주세요!</br>
					취소도 가능합니다^^
			  	</div>
			</div>
			<hr>
			<div class="container-fluid" style="overflow:auto; max-height:70%;" >
				<div id='calendar' style="overflow:auto;"></div>
			</div>
			<div class="container-fluid" >
				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
						<span class="input-group-text" id="addon-wrapping">@</span>
					</div>
					<input id="schedule_date" type="date" class="form-control" placeholder="경기 가능한 날짜" aria-label="date" aria-describedby="addon-wrapping">
					<input id="schedule_time_start" type="time" class="form-control" placeholder="경기 가능한 시간" aria-label="time" aria-describedby="addon-wrapping">
					<input id="schedule_time_end" type="time" class="form-control" placeholder="경기시간" aria-label="time" aria-describedby="button-addon2">
				
					<button class="btn btn-outline-secondary" type="button" id="schedule_add_btn">일정추가</button>
				</div>
			</div>

			<div class="container-fluid" style="overflow:scroll; height:40%;">
				<table class="table table-md" >
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">시작시간</th>
				      <th scope="col">종료시간</th>
				      <th scope="col">비고</th>
				    </tr>
				  </thead>
				  <tbody id="schedule_table_tbody">
				  </tbody>
				</table>				
			</div>
		</div><!--middle container end-->
		

	<!--하단 탭바-->
	<nav id="bottom_tapbar" class="navbar fixed-bottom navbar-light bg-light" style="position:sticky; bottom:0; height:10%; max-height:10%; margin-top:1rem; padding:0;">
		<div class="container-fluid" style="padding:0;">
			<ins class="kakao_ad_area" style="display:none;" data-ad-unit    = "DAN-VgaPZkxM9B2j0lxu" data-ad-width   = "320"  data-ad-height  = "100"></ins> 
			<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-3" id="bottom_home">
					<a href="{% url 'hzm:main_page' %}" >
						<span>
							<i class="fa fa-home" id="bottom_home_btn" style="color:gray;"></i>
						</span>
							<h2>홈</h2>
						</a>
					</div>
				<div class="col-3" id="bottom_club" >
						<a  href="{% url 'hzm:club' club.pk %}" >
							<span>
								<i class="fas fa-flag-checkered" id="bottom_club_btn" style="color:gray;" ></i>
							</span>
							<h2>클럽</h2>
						</a>
				</div>
				<div class="col-3" id="bottom_record">
					<a href="{% url 'hzm:personal_record' %}" >
						<span>
							<i class="fas fa-clipboard" id="bottom_club_btn" style="color:gray;" ></i>
						<span>
							<h2>개인기록</h2>
					</a>
				</div>
				<div class="col-3" id="bottom_user" >
						<a href="{% url 'hzm:mypage' %}" >
							<span >
								<i class="fa fa-user" id="bottom_user_btn" style="color:gray;" ></i>
							</span>
							<h2>마이룸</h2>
						</a>
					</div>
				</div>
			</div>
	</nav><!--하단 탭바 끝-->

<!--이벤트 수정 삭제 모달 -->
<div class="modal fade" id="modal_schedule_event_edit" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{player.player_name}}님</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="input-group mb-3">
      		<div class="input-group-prepend">
      			<span class="input-group-text">라이더</span>
		  </div>
		  <input type="text" class="form-control" id="modal_schedule_event_edit_player_name" aria-label="player_name" aria-describedby="basic-addon1" readonly>
		</div>

		      	<div class="input-group mb-3">
      		<div class="input-group-prepend">
      			<span class="input-group-text">날짜</span>
		  </div>
		  <input type="date" class="form-control" id="modal_schedule_event_edit_date" aria-label="date" aria-describedby="basic-addon1">
		</div>

		      	<div class="input-group mb-3">
      		<div class="input-group-prepend">
      			<span class="input-group-text">시작 시간</span>
		  </div>
		  <input type="time" class="form-control" id="modal_schedule_event_edit_time_start" aria-label="time" aria-describedby="basic-addon1">
		</div>

			<div class="input-group mb-3">
      		<div class="input-group-prepend">
      			<span class="input-group-text">종료 시간</span>
		  </div>
		  <input type="time" class="form-control" id="modal_schedule_event_edit_time_end" aria-label="time" aria-describedby="basic-addon1">
		</div>
	  </div>


      <div class="modal-footer">
        <button id="modal_schedule_event_delete_btn"  type="button" class="btn btn-secondary" data-dismiss="modal">삭제</button>
        <button id="modal_schedule_event_edit_btn"  type="button" class="btn btn-secondary" data-dismiss="e">수정</button>
      </div>
    </div>
  </div>
</div>
<!-- script start -->
	<script>
		//달력
		var Calendar = FullCalendar.Calendar;
		var calendarEl = document.getElementById('calendar');
		var calendar;
		document.addEventListener('DOMContentLoaded', function() {
		   
		    calendar = new Calendar(calendarEl, {
		      slotDuration : "00:30:00",
		    	 titleFormat: {
		    	 	month: '2-digit',
		      },
		    	initialView: 'timeGridWeek',
		      headerToolbar: {
		        left: 'prevYear,prev,next,nextYear today',
		        center: 'title',
		        right: 'dayGridMonth,timeGridWeek,timeGridDay'
		      },
		      businessHours: {
		      // days of week. an array of zero-based day of week integers (0=Sunday)
		      	daysOfWeek: [ 0,1, 2, 3, 4,5,6], // Monday - Thursday
		      	startTime: '11:00', // a start time (10am in this example)
		      	endTime: '23:00', // an end time (6pm in this example)
		      },
		      selectable: true,
		      nowIndicator: true,
		      navLinks: true, // can click day/week names to navigate views
		      editable: true,
		      dayMaxEvents: true, // allow "more" link when too many events
		      locale: 'ko',
		      events: [
		      ],
		      loading: function(bool) {
		      	if (!bool){
		      		var start = $('.fc-timegrid-cols');
		      		console.log(start);
		      		var end = $(".fc-timgrid-slot").find("[data-time='17:00:00']");
		      		$(start).nextUntil(end, 'tr').remove();
		      		console.log("bool");
		      	}
		      },
		      dateClick: function(info) {
		      	$('#schedule_date').val(info.dateStr);
		      },
		      eventClick: function(info) {
		      	if(info.event.title == '{{player.player_name}}'){
		      		console.log('yes');
		      		
		      		$('#modal_schedule_event_edit').modal('show');

		      		time_s=info.event.start.toString().split(' ');
		      		time_e=info.event.end.toString().split(' ');

		      		var month;

		      		if(info.event.start.getMonth() +1 <10) {
		      			month = '0'+str(info.event.start.getMonth()+1);
		      		}
		      		else 
		      			month = String(info.event.start.getMonth()+1);
		      		date =time_s[3]+'-'+month+'-'+time_s[2];
		      		time_start=time_s[4];
		      		time_end=time_e[4];
		      		console.log(time_start);
		      		console.log(time_end);
		      		
		      		$('#modal_schedule_event_edit_player_name').val(info.event.title);
		      		$('#modal_schedule_event_edit_date').val(date);
		      		$('#modal_schedule_event_edit_time_start').val(time_start);
		      		$('#modal_schedule_event_edit_time_end').val(time_end);
		      		$('#modal_schedule_event_delete_btn').attr('data-pk',info.event.id);
		      		$('#modal_schedule_event_edit_btn').attr('data-pk',info.event.id);
		      	}
		      	else {
		      		console.log('no');
		      	}
		      	
		      }
		     


		    });

		    calendar.render();
		  });

		 	//달려에 이벤트 추가

		 	var my_event_color = '#D1B2FF';
		 	var others_event_color = '#FAED7D';

		 	function add_schedule_event(data,color) {
		 		console.log("add event"+data.pk);
		 		calendar.addEvent({'id':data.pk,'title':data.title, 'start':data.date_start, 'end':data.date_end,'color':color}); 
		 	}

		 	function create_my_schedule_table(data,num){
		 		console.log(data.date_start);
		 		console.log(data.date_end);
		 		$('#schedule_table_tbody').append('\
		 			<tr>\
				      <th scope="row">'+num+'</th>\
				      <td>'+data.date_start+'</td>\
				      <td>'+data.date_end+'</td>\
				      <td>수정 삭제</td>\
				    </tr>')
		 	}

		 	function create_my_schedule() {
		 		$.ajax({
		 			url:"{% url 'hzm:ajax_create_my_schedule_table' %}",
		 			dataType:'json',
		 			type:'POST',
					data : {
						'csrfmiddlewaretoken' : "{{csrf_token}}",
					},
					success: function(data){
						for(var i = 0; i < data.length; i++) {
							create_my_schedule_table(data[i],i+1);
						}
					},
		 		});
		 	}

		 	function delete_my_schedule(pk) {

		 		console.log("delete event");
		 		$.ajax({
		 			url: "{% url 'hzm:ajax_delete_my_schedule' %}",
		 			type: 'POST',
		 			data : {
		 				'csrfmiddlewaretoken' : "{{csrf_token}}",
		 				'pk' : pk,
		 			},
		 			success: function(msg) {
		 				calendar.getEventById(pk).remove();
		 				console.log("event remove");
		 			},
		 			erorr: function(e){
		 				swal("통신실패 관리자에게 문의해주세요");
		 			},
		 		});

		 	}

		 	function edit_my_schedule(data) {
		 		console.log("pk: "+data.pk);
		 		console.log(data.date_start);
		 		console.log(data.date_end);
		 		var pk = data.pk;
		 		$.ajax({
		 			url : "{% url 'hzm:ajax_edit_my_schedule' %}",
		 			dataType:'json',
		 			type:'POST',
		 			data: {
		 				'pk' : pk,
		 				'csrfmiddlewaretoken' : "{{csrf_token}}",
						'date_start' : data.date_start,
						'date_end' : data.date_end,
					},
					success :function(data) {
						console.log("edit success");
						calendar.getEventById(pk).remove();
						console.log(data);
						add_schedule_event(data,my_event_color);
					},
					error :function(erorr) {
						console.log("스케줄 수정 실패");
					},
				});
		 	}
		 	var time_start_flag=0;
		 	var time_end_flag=0;
		 	$(document).on('change','#modal_schedule_event_edit_time_start',function(e) {
		 		time_start_flag=1;
		 	});

		 	$(document).on('change','#modal_schedule_event_edit_time_end',function(e) {
		 		time_end_flag=1;
		 	});

		 	$(document).on('click','#modal_schedule_event_edit_btn',function(e) {

		 		pk = $('#modal_schedule_event_edit_btn').data('pk');
		 		var date = $('#modal_schedule_event_edit_date').val();
		 		var time_start = $('#modal_schedule_event_edit_time_start').val();
		 		var time_end = $('#modal_schedule_event_edit_time_end').val();

		 		if(date && time_start && time_end){
		 			var date_start = date+'T'+time_start;
		 			if(time_start_flag) date_start=date_start+':00';
		 			date_end = date+'T'+time_end;
		 			if(time_end_flag) date_end=date_end;+'00';
		 			time_start_flag=0;
		 			time_end_flag=0;
		 			var date_ = {'pk':pk, 'date_start':date_start, 'date_end':date_end};
		 			console.log("edit start");
		 			edit_my_schedule(date_);
		 			$('#modal_schedule_event_edit').modal('hide');
		 		}
		 		else {
		 			swal("빈칸을 입력해주세요!");
		 			return;
		 		}
		 	});


		 	$(document).on('click','#modal_schedule_event_delete_btn',function(e) {
		 		pk = $('#modal_schedule_event_delete_btn').data('pk');
		 		console.log("delete pk: "+pk);
		 		delete_my_schedule(pk);
		 	});

		 	$(document).ready(create_my_schedule());

		 	$(document).ready(function(e){
		 		$.ajax({
		 			url:"{% url 'hzm:ajax_get_my_schedules' %}",
		 			dataType:'json',
		 			type:'POST',
					data : {
						'csrfmiddlewaretoken' : "{{csrf_token}}",
					},
					success: function(data){
						for(var i = 0; i < data.length; i++) {
							add_schedule_event(data[i],my_event_color);
						}
						$('#schedule_table_tbody').empty();
						create_my_schedule();
					},
		 		});
		 	})

		 	//클럽원들 스케쥴을 불러옴
		 	$(document).ready(function(e){
		 		$.ajax({
		 			url:"{% url 'hzm:ajax_get_all_schedules' %}",
		 			dataType:'json',
		 			type:'POST',
					data : {
						'csrfmiddlewaretoken' : "{{csrf_token}}",
					},
					success: function(data){
						for(var i = 0; i < data.length; i++) {
							add_schedule_event(data[i],others_event_color);
						}
					},
		 		});
		 	})

		 	$(document).on('click','#schedule_add_btn', function(e){
		 		var date = $('#schedule_date').val();
		 		var time_start = $('#schedule_time_start').val();
		 		var time_end = $('#schedule_time_end').val();
		 		title = '{{player.player_name}}';
		 		var date_start = date+'T'+time_start+':00';
		 		console.log(date);
		 		console.log(time_start);
		 		console.log("일정추가"+date_start);



		 		if(confirm('날짜 : '+date+'\n시간 : '+time_start+'\n정말 추가 하시겠습니까?') ){
		 			if(time_start && time_end){

		 				date_end = date+'T'+time_end+':00';
		 				var date_ = {'date_start':date_start, 'date_end':date_end, 'title':title};

		 				$.ajax({
						url : "{% url 'hzm:ajax_add_schedule' %}",
						type : 'POST',
						dataType : 'json',
						data : {
							'csrfmiddlewaretoken' : "{{csrf_token}}",
							'date_start' : date_start,
							'date_end' : date_end,
							'title' : title,
						},
						success : function(data) {
							add_schedule_event(data,my_event_color); 
							$('#schedule_table_tbody').empty();
							create_my_schedule();
						},
						error : function(error) {

						},
					});
		 			}
		 			else if(time_end)
		 				return swal("시작시간을 입력해주세요");
		 			else 
		 				return swal("종료시간을 입력해 주세요");
		 		
		 		}
		 		
		 	});

		 	$(document).ready(function(e) {
		 		day_color = $('#fc-col-header-cell fc-day fc-day-sun');
		 		day_num = $('a.fc-col-header-cell-cushion ').css('color','black');
		 		button = $('button.fc-dayGridMonth-button.fc-button.fc-button-primary');
		 		console.log(day_color);
		 		console.log(day_num);
		 		console.log(button);

		 	});

		 		//달력 글자 색상 바꾸는 부분
		 	var day_color = 'black'
		 	var week_color = 'black'
		 	var month_color = 'black'

		 	function click_schedule_month_btn(){
		 		day = $('a.fc-col-header-cell-cushion').css('color',month_color);
		 		$('a.fc-daygrid-day-number').css('color',month_color);
		 	}
		 	function click_schedule_week_btn(){
		 		day = $('a.fc-col-header-cell-cushion').css('color',week_color);
		 		$('a.fc-col-header-cell-cushion ').css('color',week_color);
		 	}

		 	$(document).on('click','button.fc-today-button.fc-button.fc-button-primary',function(e){
		 		console.log( $('button.fc-today-button.fc-button.fc-button-primary'));
		 	});

		 	$(document).on('click','button.fc-nextYear-button.fc-button.fc-button-primary',function(e){
		 		if( $('button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active').length >0) {
		 			click_schedule_month_btn();
		 			return;
		 		}
		 		else if( $('button.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active').length > 0){
		 			click_schedule_week_btn();
		 			return;
		 		}
		 		else if( $('button.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active').length > 0){
		 			click_schedule_week_btn();
		 			return;
		 		}
		 	});
		 	$(document).on('click','button.fc-prevYear-button.fc-button.fc-button-primary',function(e){
		 		if( $('button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active').length >0) {
		 			click_schedule_month_btn();
		 		}
		 		else if( $('button.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active').length > 0){
		 			click_schedule_week_btn();
		 			return;
		 		}
		 		else if( $('button.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active').length > 0){
		 			click_schedule_week_btn();
		 			return;
		 		}
		 	});
		 	$(document).on('click','button.fc-next-button.fc-button.fc-button-primary',function(e){
		 		if( $('button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active').length >0) {
		 			click_schedule_month_btn();
		 		}
		 		else if( $('button.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active').length > 0){
		 			click_schedule_week_btn();
		 			return;
		 		}
		 		else if( $('button.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active').length > 0){
		 			click_schedule_week_btn();
		 			return;
		 		}
		 	});
		 	$(document).on('click','button.fc-prev-button.fc-button.fc-button-primary',function(e){
		 		if( $('button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active').length >0) {
		 			click_schedule_month_btn();
		 		}
		 		else if( $('button.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active').length > 0){
		 			click_schedule_week_btn();
		 			return;
		 		}
		 		else if( $('button.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active').length > 0){
		 			click_schedule_week_btn();
		 			return;
		 		}
		 	});

		 	$(document).on('click','button.fc-dayGridMonth-button.fc-button.fc-button-primary',function(e) {
		 		click_schedule_month_btn();
		 	});
		 	$(document).on('click','button.fc-timeGridWeek-button.fc-button.fc-button-primary',function(e) {
		 		day = $('a.fc-col-header-cell-cushion').css('color',week_color);
		 		$('a.fc-col-header-cell-cushion ').css('color',week_color);
		 	});

		 	$(document).on('click','button.fc-timeGridDay-button.fc-button.fc-button-primary',function(e) {
		 		console.log("월");
		 		day = $('a.fc-col-header-cell-cushion').css('color',day_color);
		 		$('a.fc-col-header-cell-cushion ').css('color',day_color);
		 	});
		 	
		//	달력 끝

		function getTime() {
			var Now = new Date();
			var NowTime = Now.getFullYear();
			
			NowTime += '-' + String(Number(Now.getMonth()) +1) ;
			NowTime += '-' + Now.getDate();
			NowTime += ' ' + Now.getHours();
			NowTime += ':' + Now.getMinutes();
			NowTime += ':' + Now.getSeconds();
			return NowTime;
		}



		$(document).on('click','#logout_btn', function(e) {
			$.ajax({
				url:"{% url 'hzm:ajax_logout' %}",
				type:'GET',
				success:function(data) {
					swal("바이바이");
					location.reload();
				},
				error : function(error) {
					swal("실패");
				}
			})
		});

	</script>
</body>


<html>
