<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="container-fluid">
            {% for list in matchreds %}
                {% for name in list.player_name %}
                    <h3>{{name}}</h3>
                    {% endfor %}
                    <hr>
            {% endfor %}

            {% if matchred %}
            {% for name in matchred.player_name %}
                <h1>{{name}}</h1>
            {% endfor %}
            {% endif %}
        </div>
    </body>
</html>