<div class="container-fluid" style="height:84vh; padding:0px;">
			
				<div class="container-fluid" style="padding-left:5%; padding-right:5%;">
					<h1 class="display-4">[  vs 학지매 ]</h1>
					<h6>작성자 :	</h6>
					<hr>
					<form>
					<div class="input-group mb-3">
						<span class="input-group-text">클럽이름</span>
						<input type="text" id="modal_fmatch_clubname" class="form-control" placeholder="클럽이름" aria-label="클럽이름" aria-describedby="button-addon2">
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text"> 신청자 </span>
						<input type="text" id="modal_fmatch_name" class="form-control" placeholder="카러플 캐릭터 이름" aria-label="신청자" aria-describedby="button-addon2">
					</div>
			      	<div class="input-group mb-3">
			      		<span class="input-group-text">경기 인원</span>
			      		<select id="modal_fmatch_select" class="form-control">
			      			<option value="4"> 2 vs 2</option>
			      			<option value="6"> 3 vs 3</option>
			      			<option value="8"> 4 vs 4</option>
			      		</select>
			      	</div>
			      	<label for="exampleInputEmail1">RED팀 학지매</label>
			  
					<div class="input-group mb-3">
						<div class="input-group mb-3">
						<span class="input-group-text">고가평균</span>
						<input type="time" id="modal_fmatch_time_start" class="form-control" placeholder="경기시간" aria-label="시작시간" aria-describedby="button-addon2" value="" step="2">
					</div>
					<input type="text" id="modal_fmatch_player1" class="form-control" placeholder="라이더1" aria-label="player_id" aria-describedby="button-addon2" value="None">
					<input type="text" id="modal_fmatch_player2" class="form-control" placeholder="라이더2" aria-label="player_id" aria-describedby="button-addon2" value="None">
					<input type="text" id="modal_fmatch_player3" class="form-control" placeholder="라이더3" aria-label="player_id" aria-describedby="button-addon2" value="None">
					<input type="text" id="modal_fmatch_player4" class="form-control" placeholder="라이더4" aria-label="player_id" aria-describedby="button-addon2" value="None">
					</div>
		<label for="exampleInputEmail1">BLUE팀 </label>
  
		<div class="input-group mb-3">
			<div class="input-group mb-3">
			<span class="input-group-text">고가평균</span>
			<input type="time" id="modal_fmatch_time_start" class="form-control" placeholder="경기시간" aria-label="시작시간" aria-describedby="button-addon2" value="" step="2">
		</div>
			<input type="text" id="modal_fmatch_player1" class="form-control" placeholder="라이더1" aria-label="player_id" aria-describedby="button-addon2" value="None">
			<input type="text" id="modal_fmatch_player2" class="form-control" placeholder="라이더2" aria-label="player_id" aria-describedby="button-addon2" value="None">
			<input type="text" id="modal_fmatch_player3" class="form-control" placeholder="라이더3" aria-label="player_id" aria-describedby="button-addon2" value="None">
			<input type="text" id="modal_fmatch_player4" class="form-control" placeholder="라이더4" aria-label="player_id" aria-describedby="button-addon2" value="None">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">희망날짜</span>
			<input type="date" id="modal_fmatch_date" class="form-control" placeholder="경기날짜" aria-label="경기날짜" aria-describedby="button-addon2" value="">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">시작시간</span>
			<input type="time" id="modal_fmatch_time_start" class="form-control" placeholder="경기시간" aria-label="시작시간" aria-describedby="button-addon2" value="" step="2">
			<span class="input-group-text">종료시간</span>
			<input type="time" id="modal_fmatch_time_end" class="form-control" placeholder="경기시간" aria-label="종료시간" aria-describedby="button-addon2" value="" step="2">
			
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">비밀번호</span>
			<input type="text" id="modal_fmatch_passwd" class="form-control" placeholder="내용 수정시 필요 꼭 기억해 주세요" aria-label="비밀번호" aria-describedby="button-addon2">
		</div>
		<button type="submit" class="btn btn-primary">취소</button>
		<button type="submit" class="btn btn-primary">수정하기</button>
					</form>
				</div>
				
			</div>
			
			<div class="container-fluid" style="padding-left:5%; padding-right:5%;">
				<hr>
				<h4>댓글 </h4>
			</div>
			
				
		</div>