/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
html {
	font-size:1.25rem;
}
@media all and (min-width:768px) and (max-width:1023px) { /*스타일입력*/
	#test {
		background-color: black;
	}
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { /*스타일입력*/
	#test {
		background-color:red;
	}
	#navbar_top {
		
	}
	#navbar_top a {
		font-size:3rem;
	}
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) { 
/*스타일입력*/
	#test {
		background-color: blue;
	}
	#navbar_top {
		height:10vh;
	}
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) { /*스타일입력*/
	#test {
		background-color: red;
	}
	#navbar_top {
		height:20vh;
	}
}
